{% extends "layout/flex-base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

  <!-- Left Pane Start -->
  <div class="left-pane">

    {% for item in monitors %}
    <div class="card left-card" ref="{{item['hashed']}}">
      <div class="card-body">
        <h5 class="card-title">{{item['term']}} <span class="badge badge-secondary pull-right">{{item['hits']}}</span></h5>
        <h6 class="card-subtitle mb-2 text-muted last-results">Last Processed: {{item['checked']}}</h6>
        <p class="card-text">
          {% for tag in item['tags'] %}
          <span class="badge badge-primary">{{tag.title()}}</span>
          {% endfor %}

          {% if item['category'] == 'competition' %}
            <span class="badge badge-danger">Competition</span>
          {% elif item['category'] == 'partner' %}
            <span class="badge badge-warning">Partner</span>
          {% else %}
            <span class="badge badge-info">Interest</span>
          {% endif %}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Left Pane End -->

  <!-- Right Pane Start -->
  <div class="right-pane">
    <div id="accordion"></div>
  </div>
  <!-- Right Pane End -->

{% endblock %}
{% block bottom_import %}
    {{ super() }}
{% endblock %}
