{% extends "layout/flex-base.html" %}
{% block title %}Settings{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/resources/js/settings.js"></script>
{% endblock %}
{% block content %}
  <div class="primary-pane">

    <div class="col-md-5 pt-3 normal-pane-content">
      <h1>Account Details</h1>
      <form action="/account/settings/update" method="POST">
        <div class="form-group">
          <label class="col-form-label" for="formGroupExampleInput2">Username</label>
          <input type="text" class="form-control" name="username" value="{{user.get('username')}}" disabled>
        </div>
        <div class="form-group">
          <label class="col-form-label" for="formGroupExampleInput2">First Name</label>
          <input type="text" class="form-control" name="first_name" value="{{user.get('first_name')}}">
        </div>
        <div class="form-group">
          <label class="col-form-label" for="formGroupExampleInput2">Last Name</label>
          <input type="text" class="form-control" name="last_name" value="{{user.get('last_name')}}">
        </div>
        <div class="form-group">
          <label class="col-form-label" for="formGroupExampleInput2">Email</label>
          <input type="text" class="form-control" name="email" value="{{user.get('email')}}">
        </div>
        <div class="modal-footer">
          <input type="hidden" class="form-control" name="user_id" value="{{user.get('id')}}">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>

    <div class="col-md-5 pt-3 normal-pane-content">
      <h1>Change Password</h1>
      <form action="/account/settings/change-password" method="POST">
        <div class="form-group">
          <label class="col-form-label" for="formGroupExampleInput2">New Password</label>
          <input type="password" class="form-control" name="password" value="">
        </div>
        <div class="form-group">
          <label class="col-form-label" for="formGroupExampleInput2">Confirm Password</label>
          <input type="text" class="form-control" name="password_confirm" value="">
        </div>
        <div class="modal-footer">
          <input type="hidden" class="form-control" name="user_id" value="{{user.get('id')}}">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>

    {% if current_user.is_admin() %}
    <div class="col-md-5 pt-3 normal-pane-content">
      <h1>Admin</h1>
      <form action="/admin/settings" method="POST">
        <div class="form-group">
          <label class="col-form-label" for="formGroupExampleInput2">Email Address</label>
          <input type="text" class="form-control" name="email" value="{{user['admin']['email']}}">
        </div>
        <div class="form-group">
          <label class="col-form-label" for="formGroupExampleInput2">Password</label>
          <input type="password" class="form-control" name="password" value="{{user['admin']['password']}}">
        </div>
        <div class="modal-footer">
          {% if user['admin']['email'] != '' %}
          <button type="button" class="btn btn-secondary credential-test">Test</button>
          {% endif %}
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>

      <div id="settings-alert" class="alert alert-dismissible fade show hidden" role="alert">
        <span class="alert-container">
          <strong>Bird</strong> is the word.
        </span>
      </div>
    {% endif %}

  </div>
{% endblock %}
{% block bottom_import %}
    {{ super() }}
{% endblock %}